SERVER_PORT=3002

# Number of reverse-proxy hops in front of this service (0 = none, 1 = single proxy/PaaS)
TRUST_PROXY=1

# Shared secret sent by clients in the `x-api-key` header (min 32 chars)
# Generate: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
API_KEY=

#----------MongoDB URL---------#
DB_URL=

#----------CRON-SCHEDULE------------#
CRON_SCHEDULE=0 0 1 * *

PINO_LOG_LEVEL=

########### NODEMAILER EMAIL CREDENTIALS ##############
MAIL_HOST=
MAIL_PORT=
MAIL_AUTH_SECURE=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_TO=
MAIL_REPLY_TO=


##### EXPRESS-RATE-LIMIT CONFIGURATION #####
# SPECIFY EXPRESS-RATE-LIMIT TIME IN MINUTES
RATE_LIMIT_TIME=
# SPECIFY MAXIMUM NO. OF REQUESTS PER IP ADDRESS
MAX_REQUESTS=